{
	"telegram-token": "TELEGRAM TOKEN",
	"fpm-api-key": "FAST POKE MAP API KEY",
	"log-file": "poke.log",
	"database": {
		"__example": "MySQL",
		"driver": "mysql",
		"user": "pokemongo",
		"password": "pokemongo",
		"host": "localhost",
		"database": "pokemongo"
	},
    "proxies": { "https": "https://192.168.1.254" },
    "default-ip": "192.168.1.1"
}
