{
	"telegram-token": "TELEGRAM TOKEN",
	"log-file": "poke.log",
	"database": {
		"__example": "MySQL",
		"driver": "mysql",
		"user": "pokemongo",
		"password": "pokemongo",
		"host": "localhost",
		"database": "pokemongo"
	},
}
